@model ProductModel
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Add" asp-controller="Home">
    <div class="mb-3">
        <label for="Name" class="form-label">Name :</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="CategoryId" class="form-label">Category Id :</label>
        <input type="number" class="form-control" asp-for="CategoryId">
    </div>
    <div class="mb-3">
        <label for="Price" class="form-label">Price :</label>
        <input type="number" class="form-control" asp-for="Price">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>